<div class="container">
  <div class="row">
    <h1 class="col-sm-8 title">Rubik's Cube Timer</h1>
    <div class="col-sm-8">
      <div class="timer" ng-mousedown="timerClicked($event)">{{timerData.currentMoment | amDateFormat:'mm:ss:SS'}}</div>
      <div style="text-align: center;">Press spacebar to start and stop the timer. You will be prompted to save your time</div>
    </div>
    <div id="time-submitted" class="col-sm-4 alert alert-success fade in" style="display: none;">
      <a href="" ng-click="hide($event)" class="close">&times;</a>
      Successfully submitted your time!!
    </div>
    <div id="error-alert" class="col-sm-4 alert alert-danger fade in" style="display: none;">
      <a href="" ng-click="hide($event)" class="close">&times;</a>
      Failed to submit your time, please try again.
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <form novalidate name="attemptForm" id="attemptForm" ng-submit="submit(form)">
        <div class="form-group" show-errors>
          <input type="email" class="form-control" name="email" id="emailInput" placeholder="Email" ng-model="form.email" ng-required="true">
          <div class="help-block" ng-messages="attemptForm.email.$error" ng-if="timerData.formInvalid">
            <p ng-message="required">Email address is required</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password" ng-model="form.password" ng-required="true">
          <div class="help-block" ng-messages="attemptForm.password.$error" ng-if="timerData.formInvalid">
            <p ng-message="required">Password is required</p>
          </div>
        </div>
        <div class="form-group">
          <div>Note: You only need to submit your first and last name if you want to change them in the system.</div>
          <br/>
          <div class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" name="firstname" id="firstName" placeholder="First Name" ng-model="form.firstname">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lastname" id="lastName" placeholder="Last Name" ng-model="form.lastname">
              </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="submitFormButton" class="btn btn-default" ng-disabled="timerData.submitButtonDisabled">Submit attempt</button>
        </div>
      </form>
    </div>
  </div>
</div>
